**/node_modules
**/dist
/data
/coverage
/temp
/tests/**/temp
/.idea
/.vscode
/yarn-error.log
!.gitkeep
**/*.tsbuildinfo
.DS_Store
.npmrc
.yarn/*
!.yarn/patches
.eslintcache
.attest
.turbo

# References
.reference
